:root {
	--neutral-100: #0c0209;
	--icon-size: 7rem;
	--container: 40rem;
	--diameter: 30rem;
	--radius: calc(0.5 * var(--diameter));
	--angle: 0.707;
	--orbit-duration: 300s;
	--small-cycle: 8s;
	--large-cycle: 15s;
	--small-color: chartreuse;
	--large-color: white;
	--scale-factor: 1.05;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	font-family: sans-serif;
	background-color: var(--neutral-100);
}

.container {
	background-color: var(--neutral-100);
	position: relative;
	width: var(--container);
	aspect-ratio: 1 / 1;
	/* border: 2px dashed white; */
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {
	position: absolute;
	width: var(--diameter);
	aspect-ratio: 1 / 1;
	border: 2px dashed white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: rotation var(--orbit-duration) linear infinite forwards;
}

.spinner {
	position: absolute;
	width: 60%;
	aspect-ratio: 1 / 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--neutral-100);
	border-radius: 50%;
}

.spinner::before {
	position: absolute;
	content: "";
	width: 105%;
	aspect-ratio: 1 / 1;
	border-inline: 5px solid var(--small-color);
	border-block: 5px solid transparent;
	border-radius: 50%;
	animation: rotation var(--small-cycle) linear infinite forwards;
	transition: border-color 1s ease;
	z-index: -1;
}

.spinner::after {
	position: absolute;
	content: "";
	width: 120%;
	aspect-ratio: 1 / 1;
	border-inline: 5px solid var(--large-color);
	border-block: 5px solid transparent;
	border-radius: 50%;
	animation: rotation var(--large-cycle) linear infinite forwards;
	transition: border-color 1s ease;
	z-index: -1;
}

.container .imgBox {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .imgBox .img {
	--translate-x: 0;
	--translate-y: 0;
	cursor: pointer;
	position: absolute;
	width: var(--icon-size);
	aspect-ratio: 1/1;
	/* background-color: green; */
	border-radius: 50%;
	transition: scale 500ms ease;
	animation: starting-animation 2s cubic-bezier(1, 0, 0.62, 1.07) 1 forwards,
		rotation-backwards var(--orbit-duration) linear infinite forwards;
	background-size: cover;
	opacity: 0;
	z-index: 100;
	filter: grayscale(1);
}

@keyframes starting-animation {
	0% {
		opacity: 0;
		transform: translate(0, 0);
	}
	1% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: translate(var(--translate-x), var(--translate-y));
	}
}

.container .imgBox .img:hover {
	scale: var(--scale-factor);
}

.container .imgBox:nth-child(1) .img {
	--translate-x: 0;
	--translate-y: calc(var(--radius) * -1);
	background-color: red;
	border: 5px solid red;
}

.container .imgBox:nth-child(2) .img {
	--translate-x: calc(var(--radius) * var(--angle));
	--translate-y: calc(var(--radius) * var(--angle) * -1);
	background-color: yellow;
	border: 5px solid yellow;
}

.container .imgBox:nth-child(3) .img {
	--translate-x: calc(var(--radius));
	--translate-y: 0;
	background-color: green;
	border: 5px solid green;
}

.container .imgBox:nth-child(4) .img {
	--translate-x: calc(var(--radius) * var(--angle));
	--translate-y: calc(var(--radius) * var(--angle));
	background-color: brown;
	border: 5px solid brown;
}

.container .imgBox:nth-child(5) .img {
	--translate-x: 0;
	--translate-y: calc(var(--radius));
	background-color: hotpink;
	border: 5px solid hotpink;
}

.container .imgBox:nth-child(6) .img {
	--translate-x: calc(var(--radius) * var(--angle) * -1);
	--translate-y: calc(var(--radius) * var(--angle));
	background-color: teal;
	border: 5px solid teal;
}

.container .imgBox:nth-child(7) .img {
	--translate-x: calc(var(--radius) * -1);
	--translate-y: 0;
	background-color: lightsteelblue;
	border: 5px solid lightsteelblue;
}

.container .imgBox:nth-child(8) .img {
	--translate-x: calc(var(--radius) * var(--angle) * -1);
	--translate-y: calc(var(--radius) * var(--angle) * -1);
	background-color: magenta;
	border: 5px solid magenta;
}

@keyframes rotation {
	0% {
		transform: rotateZ(0deg);
	}
	50% {
		transform: rotateZ(360deg);
	}
	100% {
		transform: rotateZ(720deg);
	}
}

@keyframes rotation-backwards {
	0% {
		transform: translate(var(--translate-x), var(--translate-y)) rotateZ(0deg);
	}
	50% {
		transform: translate(var(--translate-x), var(--translate-y)) rotateZ(-360deg);
	}
	100% {
		transform: translate(var(--translate-x), var(--translate-y)) rotateZ(-720deg);
	}
}

.middle {
	position: absolute;
	width: 12rem;
	aspect-ratio: 1 / 1;
	border-radius: 25%;
	transition: background-image 500ms ease;
	background-image: url("./images1/image1.jpg");
	background-size: cover;
}

@media screen and (max-width: 630px) {
	:root {
		--icon-size: 6rem;
		--diameter: 90vw;
		--radius: calc(0.5 * var(--diameter) - 0.5 * var(--icon-size) - 5px - 0.35rem);
		--large-color: magenta;
	}

	.container {
		width: 100%;
	}

	.middle {
		width: 14rem;
	}

	.spinner {
		width: calc(var(--diameter));
		background-color: transparent;
	}

	.spinner::after {
		width: 100%;
	}
	.spinner::before {
		width: calc(100% - var(--icon-size));
	}
}

@media screen and (max-width: 550px) {
	:root {
		--diameter: 90vw;
		--icon-size: 5rem;
		--scale-factor: 1;
	}

	.container {
		width: 100%;
	}

	.middle {
		width: 8rem;
	}

	.spinner {
		width: calc(var(--diameter));
		background-color: transparent;
	}

	.spinner::after {
		width: 100%;
	}
	.spinner::before {
		width: calc(100% - var(--icon-size));
	}
}
